body {
			
			font-family: 'Muli', sans-serif;
			width: 100wh;
			height: 90vh;
			color: #fff;
			background: linear-gradient(-45deg, #EE7752, #E73C7E, rgb(255,128,0), rgb(153,0,153));
			background-size: 400% 400%;
			-webkit-animation: Gradient 15s ease infinite;
			-moz-animation: Gradient 15s ease infinite;
			animation: Gradient 15s ease infinite;
		}

		@-webkit-keyframes Gradient {
			0% {
				background-position: 0% 50%
			}
			50% {
				background-position: 100% 50%
			}
			100% {
				background-position: 0% 50%
			}
		}

		@-moz-keyframes Gradient {
			0% {
				background-position: 0% 50%
			}
			50% {
				background-position: 100% 50%
			}
			100% {
				background-position: 0% 50%
			}
		}

		@keyframes Gradient {
			0% {
				background-position: 0% 50%
			}
			50% {
				background-position: 100% 50%
			}
			100% {
				background-position: 0% 50%
			}
		}

		form{
			 border: 2px solid #ccc;
		    border-radius: 4px;
		     box-sizing: border-box;
		      padding: 12px 20px;
		}
		ul{
			 border: 2px solid #ccc;
		     border-radius: 4px;
		     box-sizing: border-box;
		      padding: 12px 20px;

		}
		
        select {
        width: 150px;
        height: 30px;
        
    }
    select:focus {
        min-width: 150px;
        width: auto;
    }    
    #datepicker{
    	background-color: black;
    	color: white;
    	
    }
    .form-row{
    	height: 250px;
        
    }
    .hi {
       text-align: center;
     }
    .button {
       position: absolute;
       top: 50%;
     }
     .high{
     	margin-top: 40px;
     }
     .low{
          overflow-wrap: break-word;
     }
      .so{
     	white-space: nowrap;
        overflow: hidden;
        white-space: initial;
     }
     .retr{
     	width:800px;
     	height:60px;
        overflow: inherit;
        
     }
    
.form-actions {
   
    text-align: center;
}



a:hover {
  width: 100px;
  opacity: 0.8;
  text-decoration:none;
}

a:hover .logout{
  opacity: 1;
}

a {
  text-decoration: none;
}